<footer>
    <div class="footer-container">
        <p>&copy; 2025 Raj's Boutique. All rights reserved.</p>
        <div class="social-media">
            <a href="#" class="icon">Facebook</a>
            <a href="#" class="icon">Twitter</a>
            <a href="#" class="icon">Instagram</a>
        </div>
    </div>
</footer>